.idea

.env

*/__pycache__/*

*.pyc

task-app-ui/logs
task-app-ui/*.log
task-app-ui/npm-debug.log*
task-app-ui/yarn-debug.log*
task-app-ui/yarn-error.log*
task-app-ui/pnpm-debug.log*
task-app-ui/lerna-debug.log*

task-app-ui/node_modules
task-app-ui/dist
task-app-ui/dist-ssr
task-app-ui/*.local

# Editor directories and files
task-app-ui/.vscode/*
task-app-ui/!.vscode/extensions.json
task-app-ui/.idea
task-app-ui/.DS_Store
task-app-ui/*.suo
task-app-ui/*.ntvs*
task-app-ui/*.njsproj
task-app-ui/*.sln
task-app-ui/*.sw?
task-app-ui/package-lock.json