@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* common button */
.btn {
  background-color: #148C6C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px; /* semi-rounded */
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s;
}

.btn:hover {
  background-color: #0f6f56;
  transform: translateY(-2px);
}

/* common input */
.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 12px;
}

/* page animation */
.fade-in {
  animation: fadeSlide 0.6s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
